<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />
		<title>Eat-Da-Burger!</title>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src=""></script>
	</head>
	<body>
        <img src="/assets/img/burger.png" width="300px" id="burger_png">
		{{{ body }}}

	</body>
</html>
