<div class="container">
    <div class="card" id="card-body">
     <div class="card-body">
      <div class="row" id="first-row">
        <div class="col">
     
    </div>
    <div class="col-6">
     <h1 >Eat-Da-Burger!</h1>
    </div>
    <div class="col">
     
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" id="burger-font-size"> Burgers To Eat...</div>
     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" id="burger-font-size">Devoured Burgers!</div>
  </div>
  <div class="row" id="top-margin">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <ol>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
          {{/unless}}
        {{/each}}
      </ol>
    </div>
    <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6 " align="center">
    <img class="animate__animated animate__bounceInDown" src="/assets/img/top-bun.png" alt="top bun" id="top-bun"> 
    <img class="animate__animated animate__backInDown" src="/assets/img/second-tomato.png" alt="second tomato" id="second-tomato"> 
    <img class="animate__animated animate__backInDown" src="/assets/img/second-pickle.png" alt="second pickle" id="second-pickle">
    <img class="animate__animated animate__backInDown" src="/assets/img/first-onion.png" alt="first onion" id="first-onion"> 
    <img class="animate__animated animate__backInDown" src="/assets/img/mustard.png" alt="mustard" id="mustard">
    <img class="animate__animated animate__backInDown" src="/assets/img/ketchup.png" alt="ketchup" id="ketchup"> 
    <img class="animate__animated animate__backInDown" src="/assets/img/first-tomato.png" alt="first tomato" id="first-tomato"> 
    <img class="animate__animated animate__backInDown" src="/assets/img/cheese.png" alt="cheese" id="cheese"> 
    <img class="animate__animated animate__backInDown" src="/assets/img/burger-meat.png" alt="burger meat" id="burger-meat"> 
    <img class="animate__animated animate__backInDown" src="/assets/img/lettuce.png" alt="lettuce" id="lettuce">
    <img class="animate__animated animate__backInDown" src="/assets/img/bottom-bun.png" alt="bottom bun" id="bottom-bun">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <ol>
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
          {{/if}}
        {{/each}}
      </ol>
    </div>
  </div>
 <div class="row">
      <div class="col-12 text-center">
       
      <form class="create-form">
        <div class="form-group">
           <p>Enter a burger you want to eat and submit your order!</p>
          <input type="text" id="burger" name="burger_name" placeholder="burger name">
           <button type="submit" class="btn btn-default" id="submit-btn" >
          <img id="utensils" src="/assets/img/utensils.png" alt="utensils"></button>
        </div>
  <div class="form-group">

  </div>

     
        
       
      </form>
    </div>
 </div>
 </div>
</div>
</div>