<li>
	<p id="burger-font">{{burger_name}}</p>
<span>
	<button type= "button" class="btn btn-sm change-devoured btn btn-danger" data-id="{{id}}" data-newlydevoured="{{devoured}}">
		{{#if devoured}}Devour It!{{else}}Eat It Again!{{/if}}
	</button> 

	</span>
</li>