<li id="list">
	
	<p id="burger-font">{{burger_name}}</p>

	<button type= "button" class="btn btn-sm change-devoured btn btn-default" data-id="{{id}}" data-newlydevoured="{{devoured}}" id="eatBtn" >
		{{#if devoured}} <img id="utensils" src="/assets/img/to-be-eaten-burger.png" alt="utensils">{{else}} <img id="utensils" src="/assets/img/eaten-burger.png" alt="utensils">{{/if}}
	
	
</li>